[Unit]
Description=NRDOT Collector Host
After=network.target

[Service]
EnvironmentFile=/etc/nrdot-collector-host/nrdot-collector-host.conf
ExecStart=/usr/bin/nrdot-collector-host $OTELCOL_OPTIONS
KillMode=mixed
Restart=on-failure
Type=simple
User=nrdot-collector-host
Group=nrdot-collector-host

[Install]
WantedBy=multi-user.target
