SELECT abs(
    filter(${coalesce(function, "average")}(${metric}),WHERE host.display_name like '${display_name_current}')
    -
    filter(${coalesce(function, "average")}(${metric}),WHERE host.display_name like '${display_name_previous}')
)
FROM Metric
WHERE host.display_name IN ('${display_name_current}','${display_name_previous}')
%{ for k, v in wheres }
  AND ${k}='${v}'
%{ endfor }