vendor
**/_build
**/collections
**/roles
dist/
.idea
.generated-yaml/
.vscode
**/.terraform*

# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
*.auto.tfvars
.terraform.lock.hcl