vendor
**/_build
**/collections
**/roles
# Include local roles
!test/canaries/roles/otel-dockerized
!test/packaging/ansible/roles/assert_ownership
!test/packaging/ansible/roles/cleanup
dist/
.idea
.generated-yaml/
.vscode
**/.terraform*
ci/terraform/terraform.backend.tf
inventory
ci/terraform/caos.auto.tfvars
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
*.auto.tfvars
.terraform.lock.hcl
