vendor
**/_build
**/collections
**/roles
dist/
.idea
.generated-yaml/
.vscode
**/.terraform*
ci/terraform/terraform.backend.tf
inventory
ci/terraform/caos.auto.tfvars
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
*.auto.tfvars
.terraform.lock.hcl
