GITHUB_TOKEN=
OTELCOMM_DOCKER_HUB_USERNAME=
OTELCOMM_DOCKER_HUB_PASSWORD=
OTELCOMM_AWS_TEST_ACC_ACCESS_KEY_ID=
OTELCOMM_AWS_TEST_ACC_SECRET_ACCESS_KEY=
OTELCOMM_AWS_TEST_ACC_ACCOUNT_ID=
OHAI_GPG_PASSPHRASE=
OHAI_GPG_PRIVATE_KEY_BASE64=
