[testing_hosts_linux]
%{ for index, vms in agent-ids ~}
${vms} ansible_user=${agent-user[index]} ansible_host=${agent-private-ip[index]} ansible_python_interpreter=${agent-python[index]}
%{ endfor ~}

[testing_hosts_linux:vars]
ansible_ssh_private_key_file=~/.ssh/caos-dev-arm.cer
ansible_ssh_common_args='-o StrictHostKeyChecking=no'