[Unit]
Description=NRDOT Collector Legacy
After=network.target

[Service]
EnvironmentFile=/etc/nr-otel-collector/nr-otel-collector.conf
ExecStart=/usr/bin/nr-otel-collector $OTELCOL_OPTIONS
KillMode=mixed
Restart=on-failure
Type=simple
User=nr-otel-collector
Group=nr-otel-collector

[Install]
WantedBy=multi-user.target
