[Unit]
Description=New Relic OpenTelemetry Collector
After=network.target

[Service]
EnvironmentFile=/etc/nr-otel-collector/nr-otel-collector.conf
ExecStart=/usr/bin/nr-otel-collector $OTELCOL_OPTIONS
KillMode=mixed
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
