#########################################
# State Backend
#########################################
terraform {
  backend "s3" {
    bucket = "automation-pipeline-terraform-state"
    key    = "otel-pipeline/REPLACE_ME"
    region = "us-east-2"
  }
}