version: '3'

services:
  previous_collector:
    container_name: "otel_collector-previous"
    image: "{{ previous_image }}"
    restart: always
    logging:
      driver: "journald"
  current_collector:
    container_name: "otel_collector-current"
    image: "{{ current_image }}"
    restart: always
    logging:
      driver: "journald"
