ec2_otels = {
  "otel-TAG_OR_UNIQUE_NAME-amd64:ubuntu22.04" = {
    ami             = "ami-0aeb7c931a5a61206"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t3a.small"
    username        = "ubuntu"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-amd64:ubuntu20.04" = {
    ami             = "ami-03b6c8bd55e00d5ed"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t3a.small"
    username        = "ubuntu"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-amd64:centos8" = {
    ami             = "ami-0ac6967966621d983"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t3a.small"
    username        = "centos"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-arm64:al-2" = {
    ami             = "ami-07a3e3eda401f8caa"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t4g.small"
    username        = "ec2-user"
    python          = "/usr/bin/python"
    tags            = {
      "otel_role" = "agent"
    }
  }
}

ssh_pub_key      = "AAAAB3NzaC1yc2EAAAADAQABAAABAQDH9C7BS2XrtXGXFFyL0pNku/Hfy84RliqvYKpuslJFeUivf5QY6Ipi8yXfXn6TsRDbdxfGPi6oOR60Fa+4cJmCo6N5g57hBS6f2IdzQBNrZr7i1I/a3cFeK6XOc1G1tQaurx7Pu+qvACfJjLXKG66tHlaVhAHd/1l2FocgFNUDFFuKS3mnzt9hKys7sB4aO3O0OdohN/0NJC4ldV8/OmeXqqfkiPWcgPx3C8bYyXCX7QJNBHKrzbX1jW51Px7SIDWFDV6kxGwpQGGBMJg/k79gjjM+jhn4fg1/VP/Fx37mAnfLqpcTfiOkzSE80ORGefQ1XfGK/Dpa3ITrzRYW8xlR caos-dev-arm"
pvt_key          = "~/.ssh/caos-dev-arm.cer"
otlp_endpoint    = "staging-otlp.nr-data.net:4317"
nr_license_key   = "******"
ansible_playbook = "install-requirements.yml"
