ec2_otels = {
  "otel-TAG_OR_UNIQUE_NAME-amd64:ubuntu22.04" = {
    ami             = "ami-0aeb7c931a5a61206"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t3a.small"
    username        = "ubuntu"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-arm64:ubuntu22.04" = {
    ami             = "ami-0717cbd2f49a61ed0"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t4g.small"
    username        = "ubuntu"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-amd64:centos-stream" = {
    ami             = "ami-0d97ef13c06b05a19"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t3a.small"
    username        = "centos"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-arm64:centos-stream" = {
    ami             = "ami-0deb895048c4f105b"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t4g.small"
    username        = "centos"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-amd64:sles-15.4" = {
    ami             = "ami-0ca19ecee2be612fc"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t3a.small"
    username        = "ec2-user"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-arm64:sles-15.4" = {
    ami             = "ami-0885abe5302e6fee0"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t4g.small"
    username        = "ec2-user"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-amd64:redhat-9.0" = {
    ami             = "ami-078cbc4c2d057c244"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t3a.small"
    username        = "ec2-user"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-arm64:redhat-9.0" = {
    ami             = "ami-01089181b0aa3be51"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t4g.small"
    username        = "ec2-user"
    python          = "/usr/bin/python"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-amd64:debian-bullseye" = {
    ami             = "ami-08a0dab67e025361b"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t3a.small"
    username        = "admin"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-arm64:debian-bullseye" = {
    ami             = "ami-03cabbbc935f5826f"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t4g.small"
    username        = "admin"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-amd64:al-2" = {
    ami             = "ami-077e31c4939f6a2f3"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t3a.small"
    username        = "ec2-user"
    python          = "/usr/bin/python"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-arm64:al-2" = {
    ami             = "ami-07a3e3eda401f8caa"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t4g.small"
    username        = "ec2-user"
    python          = "/usr/bin/python"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-amd64:al-2023" = {
    ami             = "ami-0103f211a154d64a6"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t3a.small"
    username        = "ec2-user"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
  "otel-TAG_OR_UNIQUE_NAME-arm64:al-2023" = {
    ami             = "ami-07d16074c2fdf3a19"
    subnet          = "subnet-09b64de757828cdd4"
    security_groups = ["sg-044ef7bc34691164a"]
    key_name        = "caos-dev-arm"
    instance_type   = "t4g.small"
    username        = "ec2-user"
    python          = "/usr/bin/python3"
    tags            = {
      "otel_role" = "agent"
    }
  }
}

ssh_pub_key      = "AAAAB3NzaC1yc2EAAAADAQABAAABAQDH9C7BS2XrtXGXFFyL0pNku/Hfy84RliqvYKpuslJFeUivf5QY6Ipi8yXfXn6TsRDbdxfGPi6oOR60Fa+4cJmCo6N5g57hBS6f2IdzQBNrZr7i1I/a3cFeK6XOc1G1tQaurx7Pu+qvACfJjLXKG66tHlaVhAHd/1l2FocgFNUDFFuKS3mnzt9hKys7sB4aO3O0OdohN/0NJC4ldV8/OmeXqqfkiPWcgPx3C8bYyXCX7QJNBHKrzbX1jW51Px7SIDWFDV6kxGwpQGGBMJg/k79gjjM+jhn4fg1/VP/Fx37mAnfLqpcTfiOkzSE80ORGefQ1XfGK/Dpa3ITrzRYW8xlR caos-dev-arm"
pvt_key          = "~/.ssh/caos-dev-arm.cer"
otlp_endpoint    = "staging-otlp.nr-data.net:4317"
nr_license_key   = "******"
ansible_playbook = "install-requirements.yml"
