name: Prerelease

on:
  release:
    types:
      - prereleased
    tags:
      - '*'

jobs:
  prerelease:
    name: Pre-release
    permissions:
      id-token: write
      packages: write
      contents: write

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set and validate distribution name and version
        run: .github/workflows/scripts/set_version.sh

      - uses: docker/setup-qemu-action@v2

      - uses: docker/setup-buildx-action@v2

      - uses: actions/setup-go@v3
        with:
          go-version: '~1.19.4'
          check-latest: true

      - name: Generate distribution sources
        run: make generate-sources

      # - name: Log into Docker.io
      #   uses: docker/login-action@v2
      #   with:
      #     username: ${{secrets.OHAI_DOCKER_HUB_ID}}
      #     password:  ${{secrets.OHAI_DOCKER_HUB_PASSWORD}}

      - uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist --timeout 2h
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
