name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-distributions:
    name: Validate distributions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check unique distributions names
        run: ./.github/workflows/scripts/check_distro_names.sh
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '~1.19.4'
          check-latest: true

      - name: Verify build
        run: make ci

      - name: Validate distributions third party libraries
        run: make licenses-check
